body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.content {
    text-align: center;
}

.video-link {
    display: block;
    margin-top: 20px; /* Espaçamento opcional para separar o título do link */
}
